body {
  box-sizing: border-box;
  background-color: white;
}

.top {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.pokemonHeader {
  width: 15vw;
  height: auto;
}

/* main pane */

img.character {
  height: 60px;
  width: 60px;
}

.pokemonGrid {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  overflow-y: auto;
  background-color: rgb(205, 205, 205);
  border-radius: 6px;
  border: 2px solid grey;
}
.pokemonGrid::-webkit-scrollbar {
  display: none;
}

.pokeNum,
.pokeName {
  padding: 0;
  margin: 0;
}

.profile {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* other */
