body {
  box-sizing: border-box;
  background-color: white;
  margin: 0 10em 0 10em;
  padding: 16px 0 16px 0;
  max-width: 100%;
  max-height: 100vh;
  height: 100vh;
  overflow-y: hidden;
  background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*kZW4nlRSLAMq0EA2EoKStg.png');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: right;
}

.app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  max-height: 100vh;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 60px 0;
  height: 1vh;
}

.pokemonHeader {
  width: 50%;
  height: auto;
}

/* main pane */

.body {
  display: flex;
  width: 100%;
  max-width: 100%;
}
.main {
  margin-left: 16px;
}
img.character {
  height: 100px;
  width: 100px;
  filter: drop-shadow(0 0 0.25rem black);
}
.pokemonGrid {
  width: 40vw;
  max-width: 50vw;
  height: auto;
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  overflow-y: auto;

  border-radius: 6px;

  /* background-image: url('https://plus.unsplash.com/premium_photo-1664443577580-dd2674e9d359?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.pokemonGrid::-webkit-scrollbar {
  display: none;
}

.pokeNum,
.pokeName {
  padding: 0;
  margin: 0;
}

.pokeName {
  color: #f9c931;
  padding: 10px 25px;
  -webkit-text-stroke: 10px #355d9f;
  border-radius: 1000px;
  font-size: 32px;
  paint-order: stroke fill;
}

.pokeNum {
  color: #f9c931;
  padding: 10px 25px;
  -webkit-text-stroke: 10px #355d9f;
  border-radius: 1000px;
  font-size: 32px;
  paint-order: stroke fill;
}

.profile {
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/601px-Pokebola-pokeball-png-0.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 60%;
  background-position: center;
}

.profile:hover {
  /* border: 3px solid rgb(126, 39, 198); */
  border-image: url('https://media.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif?cid=ecf05e47ojgjss0nhe9s88oigv7hytb1ovf4rynghu1krwqh&ep=v1_gifs_search&rid=giphy.gif&ct=g')
    25 / 5px repeat;
  box-sizing: border-box;
  background-image: url('https://media.giphy.com/media/l378wcSfS7eXWQgla/giphy.gif?cid=ecf05e47ojgjss0nhe9s88oigv7hytb1ovf4rynghu1krwqh&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 0 0.5rem purple);
  opacity: 1;
}

.profile.selected {
  background-color: #ffcc00; /* Highlight color */
  border: 2px solid #000; /* Optional: Add a border for emphasis */
}
/* detail pane */

.sidePane {
  height: 100%;
  width: 100%;
}

.pokemon-details {
  width: 100%;
  margin-left: 16px;
  height: 80vh;
  display: flex;
  border: 10px solid rgb(126, 39, 198);
  box-sizing: border-box;
  background-image: url('https://plus.unsplash.com/premium_photo-1664443577580-dd2674e9d359?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 32px;
}
.sidePane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.detProf {
  width: auto;
}

.detailsProfile {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  background-image: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdDZxejRzdnVxdTd2b3p4cXFycG03b2xsZms5MG4wbmVsMXVhdGx4OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26AHMBTzc1qJgFfDW/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid rgb(84, 2, 150);
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

h2.detName {
  margin-bottom: 0;
  font-size: 2em;
}
p.description {
  margin-top: 0px;
  font-size: 18px;
}

.detCharacter {
  width: 20em;
  filter: drop-shadow(0 0 0.75rem rgb(223, 96, 255));
}

.baseStatDet {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vitals {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  justify-content: flex-start;
}

.top-vital {
  display: flex;
  gap: 48px;
}

.label {
  font-size: 12px;
}

li {
  display: flex;
  flex-direction: column;
}

.Badge {
  padding: 8px;
  margin-right: 16px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stat {
  background-color: rgb(116, 0, 151);
  border-radius: 100px;
  padding: 8px;
  margin-top: 8px;
  color: white;
  font-size: 24px;
  border: 2px solid white;
  filter: drop-shadow(0 0 0.5rem rgb(255, 255, 255));
}

/* other */
.lato-thin {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', serif;
  font-weight: 900;
  font-style: italic;
}
