body {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

.pokemonHeader {
  width: 25vw;
  height: auto;
}

/* main pane */

img.character {
  height: 60px;
  width: 60px;
}

.pokemonGrid {
  width: 50vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow-y: auto;
}

.pokeNum,
.pokeName {
  padding: 0;
  margin: 0;
}

.profile {
  border: 1px solid black;
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
}

/* other */
